<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KzBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KzBot.Properties.Settings>
            <setting name="Loot_Key" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="Target_Next_Key" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="Haste_Key" serializeAs="String">
                <value>122</value>
            </setting>
            <setting name="Utito_Key" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="TelegramBotToken" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="Location" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>494, 310</value>
            </setting>
            <setting name="CharToTransfer" serializeAs="String">
                <value />
            </setting>
        </KzBot.Properties.Settings>
    </userSettings>
</configuration>